body{
    background-image: url("../img/backgroundMagic2-opacity.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-seccion {
    background-color: rgba(255, 255, 255, 0.884);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif, ;
    color: white;
    font-size: clamp(2rem, 6vw, 4rem);
    text-align: center; /* Opcional */
    margin: 20px 0;
    font-weight: 800;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    text-align: center; /* Opcional */
    margin: 10px 0;
    font-weight: 100;
}

.nav-link.active {
    background-color: #dbd9bf9d !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 600 !important;
}
